Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.Spotlight-V100
.Trashes

*.sdf
*.suo
*.user
*.opensdf
*.pdb
*.tlog
*.obj
*.log
*.idb
*.exp
*.lib
*.manifest
*.lastbuildstate
*.TMP
*.ilk
/.vs/tetris_ai_runner/v16
/Debug
/Release
/ppt_pso.exe
/build
/.vscode
/out
/tools
/docs

*.bin
*.bak
